name: Deploy to Vercel via CLI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        env:
          HOME_NEST_ADMIN_VERCEL_TOKEN: ${{ secrets.HOME_NEST_ADMIN_VERCEL_TOKEN }}
        run: vercel --prod --token $HOME_NEST_ADMIN_VERCEL_TOKEN --confirm --project home-nest-admin --scope homow